Link for the challenge on Kaggle :

https://www.kaggle.com/competitions/apartment-prices-in-the-czech-republic/overview

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
trainset = pd.read_csv(r"C:\Users\Florian AGBODJI\Documents\DataProjects\Machine_Learning\Projects\Houses prices, Kaggle Challenge\train.csv")
trainset.head()

,id,id_sreality,street,district,county,address,disposition,description,price,currency,...,terace_exist,terace,area_built_up,area_garden,garage_exist,garage,starting_price,flat_type,latitude,longitude
0,0,211172956,Konžská,Vokovice,Praha 6,"Konžská, Praha 6 - Vokovice",2+1,"AKCE = Stát slíbil, že se nebude platit 4% d...",5460000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.096155,14.351234
1,1,211680348,Koperníkova,Židenice,Brno,"Koperníkova, Brno - Židenice",2+kk,"Novostavba luxusního bytu 2+kk s terasou, nová...",6740000.0,Kč,...,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,49.201747,16.637873
2,2,221724252,Pekařská,Frýdek,Frýdek-Místek,"Pekařská, Frýdek-Místek - Frýdek",3+1,"Prodej bytu 3+1 v os. vl., 76 m2, 1.NP, na ul....",1590000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.678780,18.358891
3,3,216161372,U Mlékárny,NaN,Bystřice pod Hostýnem,"U Mlékárny, Bystřice pod Hostýnem",3+1,Naše společnost Vám zprostředkuje Nabízíme Vám...,2590000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.402031,17.677481
4,4,216358492,Na křečku,Horní Měcholupy,Praha 10,"Na křečku, Praha 10 - Horní Měcholupy",3+1,"Ul. Na Křečku, klidné místo sídliště Horní Měc...",4790000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.043005,14.561770

In [3]:
testset = pd.read_csv(r"C:\Users\Florian AGBODJI\Documents\DataProjects\Machine_Learning\Projects\Houses prices, Kaggle Challenge\test.csv")
testset.head()

,id,id_sreality,street,district,county,address,disposition,description,currency,download_date,...,terace_exist,terace,area_built_up,area_garden,garage_exist,garage,starting_price,flat_type,latitude,longitude
0,48663,210611548,Prameny,Ráj,Karviná,"Prameny, Karviná - Ráj",1+kk,Exkluzivně nabízíme k prodeji byt 1+kk ve zvýš...,Kč,2021-01-21 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.851773,18.550487
1,48664,211881052,Chvalovka,Bystrc,Brno,"Chvalovka, Brno - Bystrc",2+kk,Hledáte byt se zahrádkou v klidné lokalitě a k...,Kč,2021-01-15 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.215645,16.497729
2,48665,3916848220,Dvořákova,NaN,Postoloprty,"Dvořákova, Postoloprty",2+1,Nemovitosti SEVER vám zprostředkují koupi bytu...,Kč,2021-01-22 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.361942,13.703277
3,48666,226454620,Dobrovského,NaN,Olomouc,"Dobrovského, Olomouc",2+kk,Kompletní rekonstrukce bytového domu v původní...,Kč,2021-01-02 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.598237,17.257489
4,48667,233086300,Plotní,Trnitá,Brno,"Plotní, Brno - Trnitá",2+kk,Ve výhradním zastoupení nabízíme k prodeji ate...,Kč,2021-01-31 00:00:00,...,1.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,49.183755,16.618657

## 1- Exploratory Data Analysis

In [4]:
# Shape (lignes, colonnes)
trainset.shape

(48663, 38)

In [5]:
testset.shape

(5158, 37)

In [6]:
# Types de variables
trainset.dtypes.value_counts()

float64    19
object     15
int64       4
Name: count, dtype: int64

In [7]:
testset.dtypes.value_counts()

float64    18
object     15
int64       4
Name: count, dtype: int64

In [8]:
# Valeurs manquantes
trainset.isna().sum() / trainset.shape[0] * 100

id                      0.000000
id_sreality             0.000000
street                  1.485728
district               37.307605
county                  0.000000
address                 0.000000
disposition             0.000000
description             0.000000
price                   0.000000
currency                0.000000
download_date           0.000000
price_note             49.892115
structure               0.000000
building_state          0.000000
ownership               0.000000
floor                   0.000000
area                    0.000000
area_floor             35.172513
energy_performance     12.960566
balcony_exist          73.137702
balcony                84.914617
elevator               30.215975
cellar_exist           33.929269
cellar                 64.046606
furnished              49.179048
barrier_free           72.245854
lodge_exist            76.431786
lodge                  89.079999
terace_exist           91.932269
terace                 94.092021
area_built_up          98.353986
area_garden            98.088897
garage_exist           91.157553
garage                 91.157553
starting_price        100.000000
flat_type              98.645788
latitude                0.000000
longitude               0.000000
dtype: float64

In [9]:
testset.isna().sum() / testset.shape[0] * 100

id                      0.000000
id_sreality             0.000000
street                  1.725475
district               36.622722
county                  0.000000
address                 0.000000
disposition             0.000000
description             0.000000
currency                0.000000
download_date           0.000000
price_note             47.188833
structure               0.000000
building_state          0.000000
ownership               0.000000
floor                   0.000000
area                    0.000000
area_floor             33.132997
energy_performance     11.845677
balcony_exist          74.970919
balcony                86.021714
elevator               28.363707
cellar_exist           36.971694
cellar                 67.855758
furnished              43.485847
barrier_free           73.807677
lodge_exist            77.006592
lodge                  90.170609
terace_exist           89.065529
terace                 92.070570
area_built_up          98.487786
area_garden            97.053121
garage_exist           89.802249
garage                 89.802249
starting_price        100.000000
flat_type              97.731679
latitude                0.000000
longitude               0.000000
dtype: float64

### Variable Target = Price

In [10]:
trainset[['id', 'price']].head()

   id      price
0   0  5460000.0
1   1  6740000.0
2   2  1590000.0
3   3  2590000.0
4   4  4790000.0

In [11]:
trainset[['description', 'price_note', 'area_built_up', 'starting_price']]

,description,price_note,area_built_up,starting_price
0,"AKCE = Stát slíbil, že se nebude platit 4% d...",AKCE garance neplacení daně z nabytí nemovitosti,NaN,NaN
1,"Novostavba luxusního bytu 2+kk s terasou, nová...",NaN,NaN,NaN
2,"Prodej bytu 3+1 v os. vl., 76 m2, 1.NP, na ul....",NaN,NaN,NaN
3,Naše společnost Vám zprostředkuje Nabízíme Vám...,včetně provize,NaN,NaN
4,"Ul. Na Křečku, klidné místo sídliště Horní Měc...",Přímý majitel-neplatíte provizi RK,NaN,NaN
...,...,...,...,...
48658,Prodej malého bytu v Nehvizdech (Praha-Východ)...,NaN,17.0,NaN
48659,"Poslední volný byt s vlastní zahradou, včetně ...","za standardní vybavení na klíč, včetně sklepa,...",NaN,NaN
48660,Nabízíme k prodeji byt 3+1 ve čtvrtém nadze...,"včetně poplatků, + provize RK, včetně právního...",NaN,NaN
48661,Brněnská přehrada je oblíbenou lokalitou pro v...,"Majitel si vyhrazuje právo, prodat nemovitost ...",NaN,NaN
48662,Nabízíme Vám ke koupi byt 3+1 v os. vl. v žáda...,NaN,NaN,NaN

##### Supprimer les variables avec plus de 50% de valeurs manquantes

In [12]:
# sélectionner les variables avec moins de 50% de valeurs manquantes et les mettre dans un nouveau dataframe pour les train et test sets

missing_values = (trainset.isna().sum() / trainset.shape[0] * 100) < 50

In [13]:
missing_values

id                     True
id_sreality            True
street                 True
district               True
county                 True
address                True
disposition            True
description            True
price                  True
currency               True
download_date          True
price_note             True
structure              True
building_state         True
ownership              True
floor                  True
area                   True
area_floor             True
energy_performance     True
balcony_exist         False
balcony               False
elevator               True
cellar_exist           True
cellar                False
furnished              True
barrier_free          False
lodge_exist           False
lodge                 False
terace_exist          False
terace                False
area_built_up         False
area_garden           False
garage_exist          False
garage                False
starting_price        False
flat_type             False
latitude               True
longitude              True
dtype: bool

In [14]:
train_columns = trainset.columns[missing_values]
train_df = trainset[train_columns]
train_df.head()

,id,id_sreality,street,district,county,address,disposition,description,price,currency,...,ownership,floor,area,area_floor,energy_performance,elevator,cellar_exist,furnished,latitude,longitude
0,0,211172956,Konžská,Vokovice,Praha 6,"Konžská, Praha 6 - Vokovice",2+1,"AKCE = Stát slíbil, že se nebude platit 4% d...",5460000.0,Kč,...,Osobní,5,54,54.0,Třída G - Mimořádně nehospodárná č. 78/2013 Sb...,1.0,1.0,NaN,50.096155,14.351234
1,1,211680348,Koperníkova,Židenice,Brno,"Koperníkova, Brno - Židenice",2+kk,"Novostavba luxusního bytu 2+kk s terasou, nová...",6740000.0,Kč,...,Osobní,4,76,67.0,Třída A - Mimořádně úsporná,1.0,NaN,true,49.201747,16.637873
2,2,221724252,Pekařská,Frýdek,Frýdek-Místek,"Pekařská, Frýdek-Místek - Frýdek",3+1,"Prodej bytu 3+1 v os. vl., 76 m2, 1.NP, na ul....",1590000.0,Kč,...,Osobní,1,76,NaN,NaN,1.0,1.0,NaN,49.678780,18.358891
3,3,216161372,U Mlékárny,NaN,Bystřice pod Hostýnem,"U Mlékárny, Bystřice pod Hostýnem",3+1,Naše společnost Vám zprostředkuje Nabízíme Vám...,2590000.0,Kč,...,Osobní,3,80,80.0,Třída G - Mimořádně nehospodárná,NaN,1.0,false,49.402031,17.677481
4,4,216358492,Na křečku,Horní Měcholupy,Praha 10,"Na křečku, Praha 10 - Horní Měcholupy",3+1,"Ul. Na Křečku, klidné místo sídliště Horní Měc...",4790000.0,Kč,...,Osobní,2,78,71.0,NaN,1.0,NaN,NaN,50.043005,14.561770

In [15]:
test_missing_values = (testset.isna().sum() / testset.shape[0] * 100) < 50
test_columns = testset.columns[test_missing_values]
test_df = testset[test_columns]
test_df.head()

,id,id_sreality,street,district,county,address,disposition,description,currency,download_date,...,ownership,floor,area,area_floor,energy_performance,elevator,cellar_exist,furnished,latitude,longitude
0,48663,210611548,Prameny,Ráj,Karviná,"Prameny, Karviná - Ráj",1+kk,Exkluzivně nabízíme k prodeji byt 1+kk ve zvýš...,Kč,2021-01-21 00:00:00,...,Družstevní,1,32,NaN,NaN,1.0,1.0,true,49.851773,18.550487
1,48664,211881052,Chvalovka,Bystrc,Brno,"Chvalovka, Brno - Bystrc",2+kk,Hledáte byt se zahrádkou v klidné lokalitě a k...,Kč,2021-01-15 00:00:00,...,Osobní,1,60,60.0,Třída C - Úsporná,0.0,1.0,true,49.215645,16.497729
2,48665,3916848220,Dvořákova,NaN,Postoloprty,"Dvořákova, Postoloprty",2+1,Nemovitosti SEVER vám zprostředkují koupi bytu...,Kč,2021-01-22 00:00:00,...,Družstevní,4,60,60.0,Třída G - Mimořádně nehospodárná,NaN,1.0,NaN,50.361942,13.703277
3,48666,226454620,Dobrovského,NaN,Olomouc,"Dobrovského, Olomouc",2+kk,Kompletní rekonstrukce bytového domu v původní...,Kč,2021-01-02 00:00:00,...,Osobní,4,65,65.0,Třída B - Velmi úsporná,0.0,NaN,false,49.598237,17.257489
4,48667,233086300,Plotní,Trnitá,Brno,"Plotní, Brno - Trnitá",2+kk,Ve výhradním zastoupení nabízíme k prodeji ate...,Kč,2021-01-31 00:00:00,...,Osobní,3,126,53.0,Třída B - Velmi úsporná,1.0,1.0,NaN,49.183755,16.618657

In [16]:
trainset.shape

(48663, 38)

In [17]:
train_df.shape

(48663, 24)

In [18]:
testset.shape

(5158, 37)

In [19]:
test_df.shape

(5158, 23)

In [20]:
# compter les différentes catégories pour les variables catégorielles

for col in train_df.select_dtypes('object'):
    print(f'{col :-<50}{train_df[col].value_counts()}')

street--------------------------------------------street
Petrohradská      981
Sokolovská        259
Rostovská         249
Brno              248
Olomouc           225
                 ...
6. května           1
Větrná jáma         1
Výhledová           1
Provodov-Šonov      1
U Náspu             1
Name: count, Length: 6904, dtype: int64
district------------------------------------------district
Vršovice              1706
Žižkov                 792
Nové Město             653
Stodůlky               646
Vinohrady              612
                      ...
Nětčice                  1
Smrkovice                1
Mašov                    1
Přerov V-Dluhonice       1
Velké Výkleky            1
Name: count, Length: 670, dtype: int64
county--------------------------------------------county
Praha 10           2929
Praha 4            2234
Brno               2208
Ostrava            2061
Praha 5            2013
                   ...
Horní Beřkovice       1
Šenov                 1
Počátky               1
Častolovice           1
Načeradec             1
Name: count, Length: 849, dtype: int64
address-------------------------------------------address
Petrohradská, Praha 10 - Vršovice           973
Rostovská, Praha 10 - Vršovice              249
Olomouc, okres Olomouc                      167
Šantova, Olomouc                            147
tř. Budovatelů, Most                         97
                                           ...
Bělohorská, Praha 6 - Střešovice              1
Dostihová, Slušovice                          1
Raisova, Nymburk                              1
Mánesova, Plzeň - Jižní Předměstí             1
U Náspu, Liberec - Liberec I-Staré Město      1
Name: count, Length: 13040, dtype: int64
disposition---------------------------------------disposition
3+1         10480
2+kk         9289
2+1          8878
3+kk         7364
1+kk         4545
1+1          3263
4+kk         2130
4+1          1919
5+kk          282
Atypický      264
5+1           175
6 a více       74
Name: count, dtype: int64
description---------------------------------------description
Nabízíme vám bydlení v atraktivní a přitom klidné lokalitě uprostřed Olomouce, v poslední etapě projektu Bydlení Šantova - bytový dům C.\r\n \r\nProjekt Bydlení Šantova vzniká na ploše bývalých Sochorových kasáren v blízkosti olomoucké tržnice jako ucelený městský blok semknutý kolem zeleného uzavřeného prostoru. \r\nDostupnost:\r\ndo 200 m – zastávky MHD (tramvaje i autobusy), cyklostezky, nábřeží Moravy, atletický stadion, sokolovna, OC Galerie Šantovka\r\ndo 300 m – městská tržnice, autobusové nádraží, Smetanovy sady, Bezručovy sady s rozáriem, minigolf\r\ndo 500m – poliklinika u tržnice, ZŠ, MŠ, Dolní náměstí, loděnice, tenisový areál\r\ndo 1km – Horní náměstí, divadlo, radnice, Galerie Moritz (Prior), náměstí Republiky, památková rezervace, množství kostelů včetně katedrály sv. Václava, střední školy (2x gymnázium, průmyslová škola strojní i elektro, odborná učiliště), vysoké školy (UP i MVŠO), vnitřní obchvat (ul. Velkomoravská)\r\ncca 1,3 km – hlavní vlakové nádraží\r\nPořiďte si nový byt v developerském projektu, který klade důraz na moderní architektonické řešení a použití kvalitního stavebního materiálu. Při navrhování budovy, společných prostor i samotných bytů vycházíme z mnohaletých zkušeností v oboru. \r\nStandardní vybavení bytů obsahuje mimojiné vinylové podlahy, teplovodní podlahové topení, obložkové dřevěné zárubně s povrchem CPL, kalibrované keramické obklady a dlažbu, francouzská okna a okna osazená trojskly, značkovou sanitu, atd. ( vše dle vlastního výběru u smluvních dodavatelů). Pro zajištění nadstandardních zvukových a tepelných izolačních vlastností, používáme mezibytové příčky z cihel AKU SYM tloušťky 30cm. Součástí standardu je také příprava na instalaci kuchyňské linky. \r\nKaždý z bytů disponuje dále prostornou šatnou nebo přípravou na vestavěné skříně. Parkování je řešeno v suterénech jednotlivých domů i v samostatném parkovacím domě, který poskytne dostatek parkovacích míst pro každého.\r\n\r\nBezplatné vyřízení výhodného hypotečního financování vlastním hypotečním centrem.\r\nKompletní nabídku naleznete na našich webových stránkách a další podrobnosti Vám rádi sdělíme při osobním setkání. Rastislav Šrajer, manažer projektu.    97
Prodej bytu 2 +1 /B, OV, 58,27m2, Praha 10 - Vršovice, ulice Petrohradská. byt č. C2, B2.3 Zprostředkujeme Vám koupi bytu v osobním vlastnictví - novostavba v lokalitě Praha 10, Vršovice, ulice Petrohradská. Byt je dispozičně řešen jako 2 + 1, 50,8m2, 2x balkon - 6,69m2, 2.NP ze 6NP, výtah. Vstupní chodba, koupelna se sprchovým koutem a WC, kuchyň s jídelním koutem - 13,70m2, obývací pokoj - 16m2 se vstupem na balkon, ložnice - 15,80m2 také se vstupem na balkon. Pokoje jsou mezi sebou průchozí. Orientace bytu je na JV stranu. Velmi klidné místo v těsné blízkosti Havlíčkových sadů - Gröbovka. Výborná dostupnost do centra. K dispozici do konce roku 2020. Bližší informace v RK. Neváhejte nás volat na prohlídku.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         50
Prodej bytu 2 +1 /B, OV, 58,27m2, Praha 10 - Vršovice, ulice Petrohradská. byt č. C2, B2.3 Zprostředkujeme Vám koupi bytu v osobním vlastnictví - novostavba v lokalitě Praha 10, Vršovice, ulice Petrohradská. Byt je dispozičně řešen jako 2 + 1, 50,8m2, 2x balkon - 6,69m2, 2.NP ze 6NP, výtah. Vstupní chodba, koupelna se sprchovým koutem a WC, kuchyň s jídelním koutem - 13,70m2, obývací pokoj - 16m2 se vstupem na balkon, ložnice - 15,80m2 také se vstupem na balkon. Pokoje jsou mezi sebou průchozí. Orientace bytu je na JV stranu. Velmi klidné místo v těsné blízkosti Havlíčkových sadů - Gröbovka. Výborná dostupnost do centra. K nastěhování od léto 2020. Bližší informace v RK. Neváhejte nás volat na prohlídku.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             43
Nabízíme k prodeji pěkný, částečně zrekonstruovaný byt v osobním vlastnictví 3+1/L  (67 m2 plus lodžie 3m2), nacházející se v 8. patře samostatně stojícího panelového domu v klidné lokalitě dochozí vzdálenosti metra Kobylisy. Z bytu je nádherný výhled, lodžie přístupná z kuchyně. Byt je po částečné rekonstrukci (nová plastová okna, kuchyň, zděné jádro). Koupelna  vanou, wc samostatné, v pokojích na podlahách koberce. Dům moc pěkný, po větší rekonstrukci, fasáda, okna, výtahy..Cena 4 990 000 Kč plus provize rk.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   41
Prodej bytu 2 + kk/T-61m2, sklep - Praha 10 - Vršovice, Petrohradská. – B 5.3 Zprostředkujeme Vám koupi bytu v lokalitě Praha 10 - Vršovice, ulice Petrohradská. Jedná se o novou Rezidenci U Vinohradu v těsné blízkosti parku - Havlíčkovy sady. Byt v 5.NP, výtah, orientace pokojů na jihovýchod , klidné místo s výbornou dostupností do centra. Z hlavní chodby je vstup do obývacího pokoje a kuchyně s jídelním koutem, velká francouzská okna, vstup na terasu o velikosti 8m2,samostatná ložnice také se vstupem na terasu.  Koupelna se sprchovým koutem a WC. K dispozici do konce roku 2020. Neváhejte kontaktovat RK.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   40
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ..
 Exkluzivně nabízím k prodeji dispozičně velmi praktický byt 2+kk s balkonem o celkové ploše 63,6 m2 v klidné části Prahy 9, Újezd nad Lesy. Rok kolaudace 2009. K dispozici je sklep cca 5m2 i kryté garážové stání a malá předzahrádka cca 60 m2 pro venkovní relax.\r\n\r\nVelmi vhodné pro bezdětné páry nebo rodinu s dítětem. V blízkém okolí školka, škola, nákupní středisko, pošta, zdravotnické zařízení. Autobusová zastávka směr Černý Most, Hostivař se nachází cca 100m od bytového domu.\r\n\r\nEnergetická třída C, nízké měsíční poplatky.\r\n\r\nPro další informace neváhejte kontaktovat makléře nemovitosti.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Nabízím k prodeji byt s 1/2 podílem na vnitroblokové zahradě ve skvělé lokalitě Vinohrady, ulice Mánesova. Byt se nachází v 1. PP bytového domu jen několik metrů od Riegrových sadů, 10 minut pěšky od Václavského náměstí, 3 minuty pěšky od tramvajové zastávky. \r\nSvětlý a prostorný byt s klenutými stropy je dispozičně veden jako 1+1, fakticky však odpovídá spíše 2+1. Celková rozloha bytu je 60 m2  a skládá se z předsíně (6,7 m2), samostatného WC (2,7 m2), kuchyně spojené s obývacím prostorem (18,9 m2), koupelny (3,3  m2), ložnice (16,3 m2) a pokoje bez okna (12 m2). K bytu dále náleží sklepní kóje o rozloze 4,2 m2.\r\nVeškerá okna v bytě směřují pouze do vnitrobloku, nikoliv do ulice, tudíž je eliminován veškerý hluk z ulice. Z obývacího pokoje a z ložnice vedou okna do vnitroblokové zahrady, která z poloviny (85 m2) patří k tomuto bytu. Při splnění podmínek stavby možnost vestavět francouzská okna s přímým vstupem do zahrady. Jinak vstup na zahradu ze společné chodby domu. \r\nV bytové jednotce proveden rozvod vody (studené a teplé), kanalizace, plynu a elektřiny.\r\nV případě zájmu o koupi zajistíme právní servis, který bude hradit kupující.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1

In [21]:
# supprimer les colonnes catégorielles avec plus de 20 différentes valeurs
column_to_drop = [col for col in train_df.select_dtypes('object') if (len(set(train_df[col])) > 20)]
column_to_drop

['street',
 'district',
 'county',
 'address',
 'description',
 'download_date',
 'price_note',
 'energy_performance']

In [22]:
train_df = train_df.drop(column_to_drop, axis = 1)
train_df.shape

(48663, 16)

In [23]:
test_df = test_df.drop(column_to_drop, axis = 1)
test_df.shape

(5158, 15)

In [24]:
trainset.shape

(48663, 38)

In [25]:
train_df.shape

(48663, 16)

In [26]:
testset.shape

(5158, 37)

In [27]:
test_df.shape

(5158, 15)

In [28]:
train_df.isna().sum() / train_df.shape[0] * 100

id                 0.000000
id_sreality        0.000000
disposition        0.000000
price              0.000000
currency           0.000000
structure          0.000000
building_state     0.000000
ownership          0.000000
floor              0.000000
area               0.000000
area_floor        35.172513
elevator          30.215975
cellar_exist      33.929269
furnished         49.179048
latitude           0.000000
longitude          0.000000
dtype: float64

In [29]:
test_df.isna().sum() / test_df.shape[0] * 100

id                 0.000000
id_sreality        0.000000
disposition        0.000000
currency           0.000000
structure          0.000000
building_state     0.000000
ownership          0.000000
floor              0.000000
area               0.000000
area_floor        33.132997
elevator          28.363707
cellar_exist      36.971694
furnished         43.485847
latitude           0.000000
longitude          0.000000
dtype: float64

In [30]:
missed_columns = (test_df.isna().sum() / test_df.shape[0] * 100) > 1
missed_columns

id                False
id_sreality       False
disposition       False
currency          False
structure         False
building_state    False
ownership         False
floor             False
area              False
area_floor         True
elevator           True
cellar_exist       True
furnished          True
latitude          False
longitude         False
dtype: bool

In [31]:
for col in test_df.columns[missed_columns]:
    print(f'{col :-<50}{test_df[col].unique()}')

area_floor----------------------------------------[ nan  60.  65.  53.  58.  76.  71.  46.  67.  57.  40. 122.  62.  90.
  72.  43.  55. 117.  36.  37.  70.  26.  32.  51.  56.  73.  68.  52.
 195.  78.  50.  74.  30.  35.  48. 119. 100.  87.  66.  49. 118.  64.
  61.  63.  77.  91. 318.  75.  86.  47.  79.  59.  84.  34. 103.  54.
  45.  27. 104.  88. 147. 121.  97.  89.  42.  93.  38.  39.  28.  25.
  82. 140. 113. 102.  69. 238. 130.  80.  24.  33.  96. 174. 125. 105.
  29. 132. 123.  83.  21. 108.  44. 109. 151.  16. 101. 126.  95. 133.
  41.  92.  81. 168. 128. 155. 139. 142. 156. 135.  85. 148. 116. 141.
 114. 157. 111.  31.  98. 162.  23.  99. 106.  22. 115. 266. 107. 500.
 127. 170.  20. 255. 129. 211. 176. 152. 172. 178. 160. 182. 120. 131.
 145. 136. 204. 112.  19.  94. 124. 242. 154. 217. 143. 150. 181. 158.
 169. 146. 165. 110. 598. 250. 364.   3. 220. 138. 300. 200. 137. 153.
 163.  18. 183. 166.]
elevator------------------------------------------[ 1.  0. nan]
cellar_exist--------------------------------------[ 1. nan]
furnished-----------------------------------------['true' nan 'false' 'Částečně']

In [32]:
one_col = test_df.columns[missed_columns]
for col in one_col:
    print(f'{col :-<50}{train_df[col].unique()}')

area_floor----------------------------------------[ 5.4000e+01  6.7000e+01         nan  8.0000e+01  7.1000e+01  1.1300e+02
  1.0900e+02  7.7000e+01  4.5000e+01  3.0000e+01  7.2000e+01  2.7000e+01
  3.8000e+01  9.3000e+01  5.8000e+01  7.5000e+01  8.5000e+01  1.5000e+02
  8.2000e+01  8.3000e+01  5.3000e+01  3.4000e+01  6.0000e+01  6.6000e+01
  4.4000e+01  7.9000e+01  5.0000e+01  3.2000e+01  2.2000e+01  5.7000e+01
  9.6000e+01  3.1000e+01  7.8000e+01  4.1000e+01  3.9000e+01  5.6000e+01
  7.3000e+01  6.2000e+01  3.3000e+01  1.1600e+02  7.4000e+01  1.1000e+02
  5.1000e+01  1.4300e+02  7.6000e+01  4.8000e+01  4.9000e+01  5.5000e+01
  7.0000e+01  1.5900e+02  3.5000e+01  1.3900e+02  9.2000e+01  1.1700e+02
  8.4000e+01  5.2000e+01  3.6000e+01  4.2000e+01  1.5600e+02  1.4900e+02
  9.5000e+01  8.6000e+01  1.6000e+02  9.0000e+01  6.5000e+01  4.3000e+01
  1.0300e+02  2.8000e+01  1.7600e+02  4.7000e+01  2.5000e+01  6.8000e+01
  1.0500e+02  4.6000e+01  4.0000e+01  1.5000e+01  1.1400e+02  5.9000e+01
  6.9000e+01  6.3000e+01  8.7000e+01  2.0000e+02  2.0000e+01  6.4000e+01
  1.0400e+02  1.5500e+02  6.1000e+01  8.9000e+01  8.3000e+02  1.8000e+01
  1.1900e+02  1.0000e+02  9.8000e+01  1.0800e+02  1.3300e+02  1.0600e+02
  2.6000e+01  9.4000e+01  1.1800e+02  3.7000e+01  8.8000e+01  1.0100e+02
  2.4000e+01  8.1000e+01  1.9000e+01  1.2200e+02  2.5100e+02  1.5700e+02
  1.7900e+02  1.0200e+02  1.1100e+02  1.1500e+02  1.2300e+02  1.2600e+02
  2.3000e+01  1.4000e+02  9.7000e+01  2.9000e+01  1.1200e+02  9.1000e+01
  1.3500e+02  1.2100e+02  2.1000e+01  1.0700e+02  1.6000e+01  2.6100e+02
  9.9000e+01  1.2000e+02  1.2500e+02  1.3700e+02  1.8000e+02  2.0200e+02
  1.2400e+02  1.4200e+02  1.3000e+02  1.7000e+01  1.8600e+02  2.8400e+02
  1.2900e+02  1.8200e+02  1.3100e+02  1.2700e+02  1.3600e+02  1.6200e+02
  1.6300e+02  1.8800e+02  1.4400e+02  1.6100e+02  1.9700e+02  1.9300e+02
  1.5200e+02  1.5000e+06  2.2700e+02  1.4800e+02  2.1300e+02  6.4100e+02
  1.4600e+02  2.2900e+02  2.6000e+02  1.4100e+02  1.7300e+02  1.8500e+02
  1.6500e+02  1.2800e+02  1.5100e+02 -4.5000e+01  4.0000e+02  1.3400e+02
  1.8300e+02  1.7000e+02  1.7700e+02  2.5000e+02  1.4700e+02  1.9900e+02
  5.3100e+02  3.6500e+02  1.8400e+02  2.5300e+02  1.5400e+02  1.3800e+02
  1.6900e+02 -3.0000e+00  1.7100e+02  1.9500e+02  2.1800e+02  1.6700e+02
  3.2000e+02  1.4500e+02  1.7500e+02  2.0900e+02  1.3200e+02  1.5800e+02
  1.9000e+02  1.7200e+02  1.6400e+02  2.2400e+02  2.1000e+02  4.6430e+03
  4.1000e+02  2.3100e+02  7.8100e+03  2.8800e+02  3.1700e+02  3.6000e+02
  3.5900e+02  2.3800e+02  1.9200e+02  3.7100e+02  6.0000e+00  4.7700e+02
  2.3000e+02  1.9100e+02 -2.4000e+01  2.8000e+02  4.9300e+02  2.3400e+02
  1.9400e+02  2.2000e+02  1.4000e+01  1.0000e+03  7.8000e+02  2.0100e+02
  2.4500e+02  1.8700e+02  1.7800e+02  1.7400e+02  5.3400e+02  2.4400e+02
  4.5900e+06  3.1400e+02  2.4000e+02  3.0300e+02  1.6800e+02  2.6600e+02
  2.0600e+02  4.6800e+02  2.9500e+02  5.3300e+02  2.1400e+02  1.2000e+01
  1.9800e+02  1.6600e+02  4.3700e+02  4.0800e+02  3.4000e+02  2.9700e+02
  2.7700e+02  2.9100e+02  2.7000e+02  3.7400e+03  2.2300e+02  2.1155e+04
  2.0000e+00  2.5200e+02  6.1500e+02  2.1700e+02  1.5300e+02  4.1800e+02
  5.4700e+02  2.1600e+02  3.0400e+02  2.0700e+02  3.0000e+02  3.2900e+02
  1.9600e+02  3.5000e+02  2.2500e+02  2.1500e+02  3.3100e+02  3.6900e+02
  2.2600e+02  4.8100e+02  3.6600e+02  2.6800e+02  2.9600e+02  9.0000e+00
  4.8000e+02  2.3600e+02  1.1970e+03  2.6700e+02  5.7200e+02  2.9300e+02
  5.6300e+02  1.8900e+02  2.6300e+02  2.5900e+02  2.6900e+02  2.0500e+02
  3.8800e+02  2.5500e+02  4.3900e+02  7.9000e+02 -3.9000e+01  2.5700e+02
  1.3000e+01  3.3700e+02  2.4700e+02]
elevator------------------------------------------[ 1. nan  0.]
cellar_exist--------------------------------------[ 1. nan]
furnished-----------------------------------------[nan 'true' 'false' 'Částečně']

In [33]:
train_df.dtypes.value_counts()

object     6
float64    6
int64      4
Name: count, dtype: int64

In [34]:
train_df.head()

,id,id_sreality,disposition,price,currency,structure,building_state,ownership,floor,area,area_floor,elevator,cellar_exist,furnished,latitude,longitude
0,0,211172956,2+1,5460000.0,Kč,Panelová,Po rekonstrukci,Osobní,5,54,54.0,1.0,1.0,NaN,50.096155,14.351234
1,1,211680348,2+kk,6740000.0,Kč,Cihlová,Novostavba,Osobní,4,76,67.0,1.0,NaN,true,49.201747,16.637873
2,2,221724252,3+1,1590000.0,Kč,Panelová,Po rekonstrukci,Osobní,1,76,NaN,1.0,1.0,NaN,49.678780,18.358891
3,3,216161372,3+1,2590000.0,Kč,Cihlová,Velmi dobrý,Osobní,3,80,80.0,NaN,1.0,false,49.402031,17.677481
4,4,216358492,3+1,4790000.0,Kč,Panelová,Velmi dobrý,Osobní,2,78,71.0,1.0,NaN,NaN,50.043005,14.561770

In [35]:
for col in train_df.select_dtypes('object'):
    print(f'{col :-<50}{train_df[col].value_counts()}')

disposition---------------------------------------disposition
3+1         10480
2+kk         9289
2+1          8878
3+kk         7364
1+kk         4545
1+1          3263
4+kk         2130
4+1          1919
5+kk          282
Atypický      264
5+1           175
6 a více       74
Name: count, dtype: int64
currency------------------------------------------currency
Kč    48663
Name: count, dtype: int64
structure-----------------------------------------structure
Cihlová      24047
Panelová     18725
Smíšená       4067
Skeletová     1514
Montovaná      134
Dřevěná        117
Kamenná         59
Name: count, dtype: int64
building_state------------------------------------building_state
Velmi dobrý          19176
Dobrý                 9703
Po rekonstrukci       7902
Novostavba            7365
Ve výstavbě           1939
Před rekonstrukcí     1677
Projekt                868
Špatný                  32
K demolici               1
Name: count, dtype: int64
ownership-----------------------------------------ownership
Osobní           41634
Družstevní        6817
Státní/obecní      212
Name: count, dtype: int64
furnished-----------------------------------------furnished
Částečně    10402
false        8404
true         5925
Name: count, dtype: int64

## 2- Data Preprocessing and Modelling

#### Encodage

In [36]:
# séparer les variables à encoder du dataframe principal

train_df.select_dtypes('object')

      disposition currency structure     building_state ownership furnished
0             2+1       Kč  Panelová    Po rekonstrukci    Osobní       NaN
1            2+kk       Kč   Cihlová         Novostavba    Osobní      true
2             3+1       Kč  Panelová    Po rekonstrukci    Osobní       NaN
3             3+1       Kč   Cihlová        Velmi dobrý    Osobní     false
4             3+1       Kč  Panelová        Velmi dobrý    Osobní       NaN
...           ...      ...       ...                ...       ...       ...
48658        1+kk       Kč  Panelová              Dobrý    Osobní  Částečně
48659        3+kk       Kč   Cihlová         Novostavba    Osobní       NaN
48660         3+1       Kč  Panelová              Dobrý    Osobní       NaN
48661         3+1       Kč  Panelová  Před rekonstrukcí    Osobní  Částečně
48662         3+1       Kč  Panelová    Po rekonstrukci    Osobní       NaN

[48663 rows x 6 columns]

In [37]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline 
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import f1_score, confusion_matrix, classification_report
from sklearn.model_selection import learning_curve
from sklearn.impute import KNNImputer
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
from sklearn.tree import DecisionTreeRegressor

In [38]:
def modif(df):
    code = {
        '3+1' : 'one',
        '2+kk' : 'two',
        '2+1' : 'three',
        '3+kk' : 'four',
        '1+kk' : 'five',
        '1+1' : 'six',
        '4+kk' : 'seven',
        '4+1' : 'eight',
        '5+kk' : 'nine',
        'Atypický' : 'ten',
        '5+1' : 'eleven',
        '6 a více' : 'twelve' 
    }

    df.loc[:, 'disposition'] = df['disposition'].map(code)
    df = df.drop('currency', axis = 1)
    
    return (df)

In [39]:
train_df = modif(train_df)
test_df = modif(test_df)

In [40]:
train_df

,id,id_sreality,disposition,price,structure,building_state,ownership,floor,area,area_floor,elevator,cellar_exist,furnished,latitude,longitude
0,0,211172956,three,5460000.0,Panelová,Po rekonstrukci,Osobní,5,54,54.0,1.0,1.0,NaN,50.096155,14.351234
1,1,211680348,two,6740000.0,Cihlová,Novostavba,Osobní,4,76,67.0,1.0,NaN,true,49.201747,16.637873
2,2,221724252,one,1590000.0,Panelová,Po rekonstrukci,Osobní,1,76,NaN,1.0,1.0,NaN,49.678780,18.358891
3,3,216161372,one,2590000.0,Cihlová,Velmi dobrý,Osobní,3,80,80.0,NaN,1.0,false,49.402031,17.677481
4,4,216358492,one,4790000.0,Panelová,Velmi dobrý,Osobní,2,78,71.0,1.0,NaN,NaN,50.043005,14.561770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48658,48658,4285537372,five,1290000.0,Panelová,Dobrý,Osobní,1,17,17.0,0.0,NaN,Částečně,50.117336,14.732274
48659,48659,4285582940,four,4998500.0,Cihlová,Novostavba,Osobní,1,77,NaN,NaN,1.0,NaN,49.230147,17.664527
48660,48660,4287508060,one,2400000.0,Panelová,Dobrý,Osobní,4,72,NaN,1.0,1.0,NaN,48.867792,16.033927
48661,48661,4287560796,one,4450000.0,Panelová,Před rekonstrukcí,Osobní,4,76,NaN,0.0,NaN,Částečně,49.219693,16.525947
48662,48662,4291357788,one,2580000.0,Panelová,Po rekonstrukci,Osobní,2,73,73.0,NaN,1.0,NaN,49.891730,18.193557

In [41]:
train_df_copy = train_df.copy()

In [42]:
X_train = train_df.drop('price', axis = 1)
y_train = train_df['price']

In [43]:
train_df = train_df.drop('price', axis = 1)

In [44]:
numerical_columns = train_df.select_dtypes(exclude=['object']).columns
numerical_columns

Index(['id', 'id_sreality', 'floor', 'area', 'area_floor', 'elevator',
       'cellar_exist', 'latitude', 'longitude'],
      dtype='object')

In [45]:
categorical_columns = train_df.select_dtypes(include=['object']).columns
categorical_columns

Index(['disposition', 'structure', 'building_state', 'ownership', 'furnished'], dtype='object')

for col in categorical_columns:
    encoder = OneHotEncoder(sparse=False)
    transformed = encoder.fit_transform(train_df_copy[col].values.reshape(-1, 1))
    ohe_df = pd.DataFrame(transformed, columns=encoder.get_feature_names_out([col]))
    train_df_copy = pd.concat([train_df_copy, ohe_df], axis=1).drop([col], axis=1)

train_df_copy.drop(columns=categorical_columns, inplace=True)

In [46]:
print(X_train.columns)

Index(['id', 'id_sreality', 'disposition', 'structure', 'building_state',
       'ownership', 'floor', 'area', 'area_floor', 'elevator', 'cellar_exist',
       'furnished', 'latitude', 'longitude'],
      dtype='object')

In [47]:
print(test_df.columns)

Index(['id', 'id_sreality', 'disposition', 'structure', 'building_state',
       'ownership', 'floor', 'area', 'area_floor', 'elevator', 'cellar_exist',
       'furnished', 'latitude', 'longitude'],
      dtype='object')

In [48]:
X_train.shape

(48663, 14)

In [49]:
test_df.shape

(5158, 14)

In [50]:
numerical_pipeline = make_pipeline(SimpleImputer(strategy='median'), StandardScaler())
categorical_pipeline = make_pipeline(SimpleImputer(strategy = 'most_frequent'), OneHotEncoder())

In [51]:
preprocessor = make_column_transformer((numerical_pipeline, numerical_columns), 
                                       (categorical_pipeline, categorical_columns))

In [52]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

decision = DecisionTreeRegressor(max_depth=2)
random = RandomForestRegressor(random_state=42)

In [53]:
X_test = test_df

In [54]:
def evaluation(model):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    N, train_score, val_score = learning_curve(model, X_train, y_train,
                                              cv = 4, scoring = 'f1',
                                              train_sizes = np.linspace(0.1, 1, 10))
    
    plt.figure(figsize=(12, 10))
    plt.plot(N, train_score.mean(axis = 1), label = 'train score')
    plt.plot(N, val_score.mean(axis = 1), label = 'val score')
    plt.legend()
    
    return (y_pred)

In [55]:
# model = make_pipeline(preprocessor, DecisionTreeRegressor(max_depth=2))
model = make_pipeline(preprocessor, RandomForestRegressor(max_depth=2))
model.fit(X_train, y_train)
y_pred = model.predict(test_df)

In [56]:
y_pred

array([3215236.73317571, 3215236.73317571, 2762772.99626404, ...,
       3215236.73317571, 3215236.73317571, 2762772.99626404])

In [57]:
# copier le résultat dans un Dataframe

resultat_df = pd.DataFrame({
    'id' : test_df['id'],
    'price' : y_pred
})

In [58]:
# Upload the result to a csv file

resultat_df.to_csv('houses_prices.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [59]:
import shutil

# Replace 'your_local_download_path' with the desired local download path
download_path = 'C:/Users/Florian AGBODJI/Downloads/houses_prices.csv'

# Move the file to the desired download location
shutil.move('houses_prices.csv', download_path)

'C:/Users/Florian AGBODJI/Downloads/houses_prices.csv'

In [60]:
resultat_df.shape

(5158, 2)

In [61]:
test_df.shape

(5158, 14)

In [62]:
resultat_df

         id         price
0     48663  3.215237e+06
1     48664  3.215237e+06
2     48665  2.762773e+06
3     48666  3.215237e+06
4     48667  5.647988e+06
...     ...           ...
5153  53816  3.215237e+06
5154  53817  3.215237e+06
5155  53818  3.215237e+06
5156  53819  3.215237e+06
5157  53820  2.762773e+06

[5158 rows x 2 columns]